/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 29, 2024, 2:51:36 PM
    Author     : Le Trong Luan _ CE181151
*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.cart-container {
    margin-top: 40px;
    background-color: #fff;
    padding: 20px;
    padding-top: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.cart-header {
    font-size: 18px;
    margin-bottom: 10px;
}

.cart-table {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    padding-top: 20px;
    width: 1100px;
    table-layout: fixed;
}

.cart-table th,
.cart-table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px 30px;
}

.cart-table img {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

.table-striped tbody tr {
    border-bottom: 1px solid #ddd;
}

.table-striped tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.continue-shopping {
    margin-top: 20px;
}

.continue-shopping a {
    text-decoration: none;
    color: #2196f3;
}

.order-summary {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-summary h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.summary-details p {
    margin: 20px 0;
    font-size: 16px;
    color: #777;
}

.summary-details p span {
    float: right;
    color: #000;
}

.total {
    font-size: 18px;
    font-weight: bold;
    color: red;
    text-align: right;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.pay {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.pay button {
    width: 100%;
    padding: 15px 0;
    background-color: #4caf50;
    color: white;
    border: none;
    font-size: 18px;
}
.cart-table .input-qty {
    width: 30px; /* Thay đổi kích thước của ô */
    text-align: center; /* Giúp số lượng được căn giữa */
    padding: 3px 3; /* Thêm padding để làm ô trông gọn gàng hơn */
    border: 1px solid #ddd; /* Đặt đường viền cho ô */
    border-radius: 4px; /* Làm tròn các góc của ô */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"] {
    appearance: textfield;
}

.section3 {
    display: flex;
    justify-content: space-between;
}
.delete-all {
    margin-top: 20px;
}
.delete-all button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-all button:hover {
    background-color: #e60000;
}
