body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.contact-form {
    margin-top: 150px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.phone-group {
    display: flex;
    flex-direction: column;
}

.feedback-section {
    margin-top: 50px;
    background: linear-gradient(45deg, #0066cc, #0099cc);
    padding: 50px 0;
    text-align: center;
    color: #333;
}

.feedback-section h1 {
    font-size: 36px;
    margin: 0;
}

.feedback-section p {
    font-size: 18px;
    margin: 10px 0 0;
}

.breadcrumb {
    margin: 20px 0;
    color: #d44851;
    font-weight: bold;
}

.contact-form {
    background-color: #fff;
    padding: 30px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 130px;
}

.contact-form p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.form-group > .input-container {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    height: 100px;
    resize: none;
}

.submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button:hover {
    background-color: #c13642;
}

.info {
    display: flex;
    justify-content: center;
}

.right-img,
.breadcrumb {
    width: 45%;
}

.right-img img {
    width: 100%;
}

.content-container {
    display: flex;
    justify-content: center;
}

.info-content {
    text-align: center;
    width: 45%;
}

.video-section {
    width: 50%;
    margin-left: 50px;
}

.video-section video {
    width: 100%;
    text-align: center;
}

.info-content h2 {
    line-height: 35px;
    color: #333;
    font-size: 22px;
    text-align: start;
    text-transform: uppercase;
}

.info-content p {
    line-height: 30px;
    font-size: 16px;
    color: #636363;
    text-align: justify;
}

.info-content div {
    margin: 10px 0;
    width: 60px;
    height: 3px;
    background: #00aeed;
}

.company-info {
    margin-bottom: 20px;
}

button {
    padding: 15px 30px;
    background-color: #d44851;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
