.breadcrumb-container {
    background-color: #f8f9fa; /* Màu nền nhạt */
    border-radius: 5px; /* Bo góc */
    padding: 10px; /* Padding cho breadcrumb */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đổ bóng */
}

.breadcrumb-link {
    font-size: 17px;
    color: #0d6efd;
    transition: color 0.3s; /* Hiệu ứng chuyển màu */
    text-decoration: none; /* Xóa gạch chân */
    position: relative;
}

.breadcrumb-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1.5px;
    background-color: #0066ff;
    transition: width 0.4s ease, left 0.4s ease; /* Setting time hiện hết underline thì width và left phải = nhau */
}

.breadcrumb-link:hover {
    color: #0011ff; /* Đổi màu khi hover */
}

.breadcrumb-link:hover::after {
    width: 100%;
    left: 0;
}

.breadcrumb-item {
    font-size: 17px;
}

.custom-color {
    background-color: #f5f5f5;
}

.custom-gap {
    display: flex;
    gap: 50px;
}

.border {
    border-radius: 8px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
}

.currency {
    font-size: 20px;
    text-decoration: underline;
    vertical-align: 7px;
}
