.breadcrumb-container {
    background-color: #f8f9fa; /* Màu nền nhạt */
    border-radius: 5px; /* Bo góc */
    padding: 10px; /* Padding cho breadcrumb */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đổ bóng */
}

.breadcrumb-link {
    font-size: 17px;
    color: #0d6efd;
    transition: color 0.3s; /* Hiệu ứng chuyển màu */
    text-decoration: none; /* Xóa gạch chân */
    position: relative;
}

.breadcrumb-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1.5px;
    background-color: #0066ff;
    transition: width 0.4s ease, left 0.4s ease; /* Setting time hiện hết underline thì width và left phải = nhau */
}

.breadcrumb-link:hover {
    color: #0011ff; /* Đổi màu khi hover */
}

.breadcrumb-link:hover::after {
    width: 100%;
    left: 0;
}

.breadcrumb-item {
    font-size: 17px;
}

.custom-color {
    background-color: #faf0ee;
    margin: 20px 0 25px 0;
}

.custom-gap {
    display: flex;
    gap: 50px;
    border: #aeaeae solid 0.5px;
    padding: 15px;
}

.image-custom {
    height: 450px;
    width: 450px;
    object-fit: cover;
    border: 0.5px solid rgb(228, 228, 228);
}

.border {
    border-radius: 8px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
}

.currency {
    font-size: 20px;
    text-decoration: underline;
    vertical-align: 7px;
}

.quantity-btn {
    background-color: #4caf50; /* Green background */
    color: white; /* White text */
    border: none;
    padding: 1px 14px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-text {
    font-size: 1.5rem; /* Điều chỉnh kích thước font */
}

.quantity-input {
    width: 47px; /* Adjusted width */
    text-align: center;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 5px; /* Space between the buttons */
}

.border-setting {
    border-radius: 3px;
    padding: 10px 18px;
    margin-top: 30px;
}

.border-setting i {
    font-size: 18px;
}


.add-cart {
    border: #0d6efd solid 2px;
    background-color: #bce0ff;
}

.add-cart:hover {
    background-color: #cde8ff;
}

.add-cart i {
    color: #0d6efd;
}

.description-title-custom {
    background-color: hsl(0, 0%, 98%);
    border: 0.5px solid #eeeeee;
    margin: 30px 20px 0 20px;
}

.description-text-custom {
    font-size: 18px;
    word-wrap: break-word; 
    margin-top: 10px; 
    padding: 0 40px;
}

.menu-body {
    margin-top: 55px;
}

.card {
    height: 100%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 2px solid #abb0b3;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    background-color: #f4f4f4;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-img-top {
    border-radius: 8px;
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.card-title {
    font-size: 20px;
    height: 50px;
    display: -webkit-box;
    margin-bottom: 12px;
    -webkit-line-clamp: 2; /* Giới hạn số dòng muốn hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}