
.card {
    height: 100%;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 2px solid #abb0b3;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    background-color: #f4f4f4;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-img-top {
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.card-text {
    height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Giới hạn số dòng muốn hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-body {
    margin-top: 100px;
}
